<section class="bulk_order_sec">
    <div class="container">
        <div class="row">
            <div class="col-5 left_sec">
                <img src="../../../assets/home_imgae/spotify/Bulk_banner_image.webp" alt="">
            </div>
            <div class="col-7 right_sec">
                <div class="info">
                    <p>For large orders</p>
                    <h3>Place a bulk <br> order with us</h3>
                    <p class="content">Whether you want to place a large customised order for a single item or a large
                        assortment of
                        multiple craft products, we can sort it out for you! For years we have also worked on custom
                        orders for our clients – it is one of the many benefits of having direct relationships with our
                        artisans. Just drop us a note!
                    </p>
                    <div class="btn-sec">
                        <a href="#" class="site-btn btn1">learn more</a>
                        <app-site-btn [text]="text"></app-site-btn>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>