<div class="container-fluid">
    <div class="row footer_top">
        <div class="col-6 col-sm-6 footer_left">
            <div>
                <h1>The India Craft House</h1>
            </div>
            <div class="payment_icons">
                <ul>
                    <li><img src="../../../assets/footer_images/visa.png" alt=""></li>
                    <li><img src="../../../assets/footer_images/mastercard.png" alt=""></li>
                    <li><img src="../../../assets/footer_images/PayPal.svg.webp" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-sm-6 footer_right">
            <div class="row">
                <div class="col-4">
                    <ul>
                        <h3>the company</h3>
                        <li>our Story</li>
                        <li>terms of use</li>
                        <li>site map</li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul>
                        <h3>orders & supports</h3>
                        <li>contact us</li>
                        <li>bulk orders</li>
                        <li>rewards</li>
                        <li>FAQ's</li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul>
                        <h3>social media</h3>
                        <li>facebook <i class="bi bi-facebook"></i></li>
                        <li>instagram <i class="bi bi-instagram"></i></li>
                        <li>pinterest <i class="bi bi-pinterest"></i></li>
                        <li>linkedin <i class="bi bi-linkedin"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="footer_bottom">
            <p>The India Craft House 2022</p>
            <p><a href="">Curated in India</a></p>
        </div>
    </div>
</div>