<section class="explore_sec">
    <div class="container">
        <div class="explore_content">
            <div class="content_info">
                <div class="tittle_btn d-flex justify-content-between">
                    <h3>Explore our<br>collection</h3>
                    <div>
                        <app-site-btn [text]="texts" ></app-site-btn>
                    </div>
                </div>
                <div class="links">
                    <ul>
                        <li><a href="#">Women</a></li>
                        <li><a href="#">Men</a></li>
                        <li><a href="#">kids</a></li>
                        <li><a href="#">home & living</a></li>
                        <li><a href="#">work</a></li>
                        <li><a href="#">gifts</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>