.explore_sec {
    background-image: url("/assets/home_imgae/spotify/explore-bg.webp");
    background-repeat: no-repeat;
    background-size: 530px;
    background-position-x: 115%;
    /* background-position: right; */
    background-color: #f9f2ea;
    padding: 100px 0 130px;
}


.tittle_btn h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    color: #535041;
    margin-bottom: 0;
    text-align: left;
    font-family: NYTMagSerifHeadlineWEB-Bold;
}

.tittle_btn {
    margin-bottom: 80px;
}

.content_info {
    width: 65%;
}

.content_info .links ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    text-transform: capitalize;
    justify-content: space-between;
}

.content_info .links ul li {
    list-style: none;
    width: 47.5%;
    border-bottom: 1px solid #D1BC9E;
}

.content_info .links ul li:first-child,
.content_info .links ul li:nth-child(2) {
    border-top: 1px solid #D1BC9E;

}

.content_info .links ul li a {
    font-size: 24px;
    line-height: 30px;
    color: #27221d;
    padding: 20px 0;
    display: block;
    text-decoration: none;
    /* width: 50%; */
}