<app-nav></app-nav>
<form>
    <mat-card class="material_card">
        <mat-card-content>
            <div>
                <h3 class="heading">welcome back</h3>
            </div>
            <mat-form-field class="full_width">
                <label for="">Email*</label>
                <input matInput type="text">
            </mat-form-field>
            <mat-form-field class="full_width">
                <label for="">Password*</label>
                <input matInput type="password">
            </mat-form-field>
            <div class="forgot_pass">
                <p>Forgot Password?</p>
            </div>
            <div>
                <button class="signin_button full_width">Sign In</button>
            </div>
            <div>
                <p class="or">or</p>
            </div>
        </mat-card-content>
    </mat-card>
</form>
<app-footer></app-footer>