.a {
    border: 2px solid red;
}

.a a {
    border: 2px solid orange;
    padding: 10px;
    display: inline-block;
}

.b {
    border: 2px solid green;
    /* display: inline-block; */
}

.b a {
    border: 2px solid yellow;
    padding: 10px;
    display: inline-block;
}