<nav class="navbar navbar-expand-lg">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex list">
                <li routerLink="/home" class="nav-item">Home</li>
                <li>Shop</li>
                <li>Our Story</li>
                <li>WholeSale</li>
                <li>Contact</li>
                <li>Offers</li>
            </ul>
        </div>
        <div class="nav navbar-brand">
            <ul class="navbar-nav d-flex">
                <li routerLink="/login">Login</li>
                <li><i class="bi bi-search"></i></li>
                <li><i class="bi bi-heart"></i></li>
                <li><i class="bi bi-cart"></i></li>
            </ul>
        </div>
    </div>
</nav>