<section class="craft_form">
    <div class="container">
        <div class="row">
            <div class="col-6 left_sec">
                <div class="line"></div>
                <div class="form_heading">
                    <h3>Explore a wide <br> selection of craft forms</h3>
                    <a href="#">Learn More</a>
                </div>
            </div>
            <div class="col-6 right_sec">
                <span class="number">100</span>
                <span class="text">craft forms</span>
            </div>
        </div>
    </div>
</section>